extends layout

block content
  h1 How to Play
  p You must enter a date as the the first parameter to the URL.
  p For example www.herokuapp.com/YOUR DATE HERE.
  br
  p If you fail to enter a date or you enter an invalid date, you will be brought back to this page.

